html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 22px;
  color: #252641;
  font-weight: 400;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: calc(33 / 22);
  padding: 13px 50px;
  border: 0;
  outline: none;
  border-radius: 1000rem;
  cursor: pointer;
}

.btn--white {
  background-color: white;
  color: #6c6c6c;
}

.btn--primary {
  color: white;
  background-color: #f48c06;
}

.header {
  min-height: 1118px;
  background-color: #fff2e1;
  border-radius: 0 0 500px 500px;
  margin-bottom: 100px;
}

.header-container {
  max-width: 1725px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.header-top {
  padding-top: 60px;
  padding-bottom: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-buttons {
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 34px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 57px;
}

.header-heading {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 34px;
  line-height: cal(81/54);
  color: #f48c06;
}

.header-heading span {
  color: #2f327d;
}

.header-desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 52px;
  color: #464646;
}

.header-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 40px;
}

.header-action .btn--primary {
  padding: 22px 38px;
}

.menu {
  margin-left: auto;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 80px;
}

.menu-link {
  color: inherit;
}

.watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 32px;
  font-size: 24px;
  line-height: calc(36 / 24);
  color: inherit;
}

.watch-icon {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=app.css.map */